{% extends "base.html" %} {% block title %}Sales{% endblock %}

{% block content %}
<br />
<h2 align="center"><u><strong>Sales</strong></u></h2>
<br />
<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-dark" style="border-radius: 10px;">
      <div class="card-body">
        <h5 class="card-title">Revenue</h5>
        <p align="center" class="card-text"><strong>£{{ revenue }}</strong></p>
      </div>
    </div>
  </div>
  <!--Two other cards for Costs and Profit-->
  <div class="col-sm-4">
    <div class="card text-white bg-dark mb-3" style="border-radius: 10px;">
      <div class="card-body">
        <h5  class="card-title">Costs</h5>
        <p align="center" class="card-text"><strong>£{{ costs }}</strong></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-dark mb-3" style="border-radius: 10px;">
      <div class="card-body">
        <h5 class="card-title">Gross Profit</h5>
        <p align="center" class="card-text"><strong>£{{ profit }}</strong></p>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-6">
    <div class="card text-white bg-dark mb-3" style="border-radius: 20px;">
      <div class="card-body">
        <h5 class="card-title">Highest Generating Products</h5>
        <p class="card-text">- {{ a1 }} <br>- {{ b1 }} <br>- {{ c1 }} <br>- {{ d1 }} <br>- {{ e1 }} <br></p>
      </div>
    </div>
  </div>
  <!--Another card for Lowest Generating Products-->
  <div class="col-sm-6">
    <div class="card text-white bg-dark mb-3" style="border-radius: 20px;">
      <div class="card-body">
        <h5 class="card-title">Lowest Generating Products</h5>
        <p class="card-text">- {{ a2 }} <br>- {{ b2 }} <br>- {{ c2 }} <br>- {{ d2 }} <br>- {{ e2 }} <br></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}