{% extends "base.html" %} {% block title %}Record{% endblock %}

{% block content %}
<br />
<h2 align="center"><u><strong>Employee Record</strong></u></h2>
<br />
<table class="table table-striped table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">Forename</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Authority</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr>
      <td scope="row">{{ i[0] }}</td>
      <td>{{ i[1] }}</td>
      <td>{{ i[2] }}</td>
      <td>{{ i[3] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}